/*
  PAGE STYLES
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;

  color: #353535;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: #fff;
  background-color: cadetblue;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  margin-top: 1em;
  margin-bottom: 1em;
}

button:hover {
  background-color: #0056b3;
}